*{
    margin: 0;
    padding: 0;
}


body{
    width: 100%;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(328deg, rgba(2,0,36,1) 0%, rgba(9,121,107,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 900px;
    height: 500px;
    border-radius: 50px;
    background: navy;
    padding: 20px;
    text-align: center;
    color: aqua;
  }

  .wrapper h1{
    margin-top: 50px;
  }
  .wrapper p{
    margin-top:10px;
  }
  .wrapper input{
    margin-top:10px;
    outline: none;
  }
  .wrapper input:focus{
    border-bottom-color: red;
  }

  @media screen and (min-width: 480px) {
    .wrapper{
     color: wheat;
    }
  }
  